@import "resets";
@import "mixin";
@import "variables";

.layout {
  width: 100%;
  height: 100%;
  display: grid;
  grid:
    "header" auto
    "main" auto
    "footer" auto / 1fr;
  font-family: "Krub", sans-serif;
}

.header {
  .logo {
    width: 200px;
    height: 200px;
    border-radius: 53% 47% 56% 44% / 23% 79% 21% 77%;
  }
  .container-fluid {
    text-align: center;
    font-weight: bold;
  }
}

.main {
  text-align: center;
  background-color: $colorprimario;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23d39c44' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23dea433' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23e8af23' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23f3bc12' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23ffcc00' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23ffd914' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23ffe529' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23ffef3d' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23fff852' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23ffff66' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;

  .main-productos {
    display: grid;
    justify-content: center;
  }

  .img-home {
    width: 100%;
    height: 250px;
    border-radius: 1rem;
  }

  .img-store {
    @include card-model;
    width: 150px;
    background-color: $colorsecundario;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%236d4f2f' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23846039' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%239c7143' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23b3824d' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23CA9357' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  }

  
  .img-ig {
    width: 200px;
  }

  .card {
    @include card-model;
    width: 325px;
    background-color: #916639;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%236d4f2f' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23846039' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%239c7143' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23b3824d' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23CA9357' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  }

  .img-nos {
    width: 325px;
    border-radius: 0.5rem;
  }

  .img-girl {
    width: 300px;
  }

  .img-question {
    width: 300px;
  }

  .accordion-body {
    background-color: $colorsecundario;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%236d4f2f' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23846039' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%239c7143' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23b3824d' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23CA9357' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  }

  .accordion-button {
    background-color: #dbb788;
  }

  .mb-3 {
    margin: 0.8rem;
  }

  .consulta-button {
    margin: 0.8rem;
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: #6c757d;
  }
  .consulta-button:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left: 8px;
  }
  .consulta-button:hover:after {
    opacity: 1;
    right: 10px;
  }
  .consulta-button:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
  }

  .list-group-item {
    background-color: #dbb788;
  }

  .css-button-3d--grey {
    min-width: 130px;
    height: 40px;
    color: black;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: $colorprimario;
    box-shadow: 0 5px #495057;
  }
  .css-button-3d--grey:hover {
    box-shadow: 0 3px #495057;
    top: 1px;
  }
  .css-button-3d--grey:active {
    box-shadow: 0 0 #495057;
    top: 5px;
  }
}

.footer {
  text-align: center;
  background-color: $colorprimario;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23ddab74' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");

  .redes {
    display: inline-block;
    font-size: 30px;
    animation: float 4s ease-in-out infinite;
  }

  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-7px);
    }
    100% {
      transform: translateY(0);
    }
  }

  a {
    color: black;
  }
}

@include tablet;

@include desktop;
